@font-face {
    font-family: norse;
    src: url(./norse.ttf);
}

* {
    background-color: rgb(65, 65, 65);
    text-align: center;
    box-sizing: border-box;
}

.logo {
    width: 200px;
}

.photo {
    width: 500px;
    border-radius: 50px;
    border: 3px solid gold;
}

.boldtext,
a {
    font-family: norse, Arial, Helvetica, sans-serif;
    color: gold;
}

.main {
    font-size: 100px;
}

.menu {
    font-size: 50px;
    border: 3px solid gold;
    text-decoration: none;
    margin: 10px;
    padding: 10px;
    border-radius: 50px;
}

.title {
    font-size: 30px;
}

.content {
    color: white;
    font-size: 20px;
}

ul,
ol {
    margin-right: 50px;
    list-style: none;
}