@font-face {
    font-family: norse;
    src: url(./norse.ttf);
}

* {
    background-color: rgb(90, 85, 85);
    text-align: center;
    list-style: none;
}

img {
    width: 200px;
}

h1,
a {
    font-family: norse;
    color: gold;
}

h1 {
    font-size: 50px;
}

a {
    font-size: 30px;
}