@font-face {
    font-family: norse;
    src: url(./norse.ttf);
}

* {
    background-color: rgb(65, 65, 65);
    text-align: center;
    list-style: none;
}

.logo {
    width: 200px;
}

.boldtext,
a {
    font-family: norse, Arial, Helvetica, sans-serif;
    color: gold;
}

.main {
    font-size: 100px;
}

.menu {
    font-size: 50px;
}

.title {
    font size: 30px;
}